body {
    background-color: #ECF4FF;
    padding: 20px;
    padding-top: 1px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #212529;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #ECF4FF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #ECF4FF;
    border:solid;
    border-color:#212529;
    color:#212529 !important;
  }
  .required{
      color:#dc3545;
  }
  .has-error{
    border-color:#dc3545 !important;
  }